@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.flex-r,
.flex-c {
  justify-content: center;
  align-items: center;
  display: flex;
}

.flex-c {
  flex-direction: column;
}

.flex-r {
  flex-direction: row;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  padding: 20px 10px;
  background: rgb(197, 245, 245);
}

.login-text-login {
  background-color: #f6f6f6;
  max-width: 400px;
  min-height: 300px;
  border-radius: 10px;
  padding: 10px 20px;
}

.login-text-login h1 {
  font-size: 25px;
}

.login-text-login p {
  font-size: 15px;
  color: #000000b2;
}

form {
  align-items: flex-start !important;
  width: 100%;
  margin-top: 15px;
}

.input-box-login {
  margin: 10px 0px;
  width: 100%;
}

.label-login {
  font-size: 15px;
  color: black;
  margin-bottom: 3px;
}

.input-login {
  background-color: #f6f6f6;
  padding: 0px 5px;
  border: 2px solid rgba(216, 216, 216, 1);
  border-radius: 10px;
  overflow: hidden;
  justify-content: flex-start;
}

.login-input {
  border: none;
  outline: none;
  padding: 8px 5px;
  background-color: #f6f6f6;
  flex: 1;
}

.input-login i {
  color: rgba(0, 0, 0, 0.4);
}

.check-login span {
  color: #000000b2;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
}

.btn-login-custom {
  display: flex;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50%;
  border-radius: 30px;
  padding: 10px 55px;
  background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  transition: all 0.4s linear;
  cursor: pointer;
  border: none;
}

.btn-login-custom:hover {
  transform: translateY(-5px);
}

.extra-line-login {
  display: flex;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
}

.extra-line-login a {
  color: #0095b6;
}
