@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.pp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(197, 245, 245);
}

.navbar-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: rgb(255, 255, 255);
}

.navbar-profile h2 {
  margin: 0 10rem;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar-profile h2:hover {
  text-decoration: underline;
}

.notification-count {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.uvedi {
  width: 530px;
  height: 640px;
  background-color: white;
  margin-top: 20px;
}

.notification-item {
  width: 100%;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notification-item.read {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-left: 5px solid #000000;
}

.notification-item.unread {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-left: 5px solid #00ff2a;
}

.uvedi button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-left: 4px;
  margin-top: 76px;
  width: 150px;
  height: 30px;
  border: none;
  background-color: white;
}

.delete-action {
  text-align: center;
  margin: 10px;
  padding: 10px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(255, 0, 0);
}

.notification-item h3 {
  margin: 0 0 5px;
}

.notification-item p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

footer {
  width: 100%;
  margin-top: 20px;
  background-color: #ffffff;
  color: #000000;
  padding: 20px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.links {
  margin-bottom: 10px;
}

footer p {
  cursor: pointer;
}

.footer-bottom-profile {
  margin-top: 10px;
}

footer p:hover {
  text-decoration: underline;
}
