@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(197, 245, 245);
}

.navbar-posts-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgb(255, 255, 255);
}

.navbar-posts-custom h2 {
  margin: 0 10rem;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar-posts-custom h2:hover {
  text-decoration: underline;
}

.search-posts-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.search-posts-custom input {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 0 10px;
  width: 40%;
  height: 30px;
}

.search-posts-custom input::placeholder {
  color: rgb(0, 0, 0);
}

.main-posts-custom {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
  border-radius: 6px;
  background: rgb(244, 255, 255);
}

.all-posts-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  margin-top: 10px;
}

.all-posts-custom img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.post_img {
  width: 320px;
  height: 200px;
}

.main-posts-custom h2 {
  font-size: 1.2em;
}

.swap-pages-posts-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  width: 200px;
  height: 30px;
  background: rgb(197, 245, 245);
  border-radius: 10px;
  margin-top: 20px;
}

.swap-pages-posts-custom h2 {
  cursor: pointer;
}

.posts-all-posts-custom {
  display: grid;
  grid-template-columns: (3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.post-posts-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  margin-top: 20px;
  width: 700px;
  background: rgb(197, 245, 245);
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 30px;
}

.text-posts-custom p {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

.date {
  margin-top: 10px;
  font-weight: 100;
}

.footer-posts-custom {
  margin-top: 20px;
  background-color: #ffffff;
  color: #000000;
  padding: 20px 0;
  text-align: center;
}

.footer-content-posts-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 10px;
}

.footer-bottom-posts-custom {
  font-size: 0.8rem;
}

footer-posts-custom p {
  cursor: pointer;
}

footer-posts-custom p:hover {
  text-decoration: underline;
}
