@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(197, 245, 245);
}

.navbar-teachers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: rgb(255, 255, 255);
}

.navbar-teachers h2 {
  margin: 0 10rem;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar-teachers h2:hover {
  text-decoration: underline;
}

.search-teachers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.search-teachers input {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 0 10px;
  height: 30px;
}

.search-teachers input::placeholder {
  color: rgb(0, 0, 0);
}

.main-teachers {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
  border-radius: 6px;
  background: rgb(244, 255, 255);
}

.all-teachers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 10px;
  gap: 30px;
}

.main-teachers h2 {
  font-size: 1.2em;
}

.main-teachers img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.swap-pages-teachers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  width: 200px;
  height: 30px;
  background: rgb(197, 245, 245);
  border-radius: 10px;
  margin-top: 20px;
}

.swap-pages-teachers h2 {
  cursor: pointer;
}

.teachers-grid {
  display: grid;
  grid-template-columns: (4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.ava-teachers {
  width: 70px;
  height: 70px;
  background-color: black;
  border-radius: 50%;
}

.prepod-teachers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: row;
  margin-top: 20px;
  width: 450px;
  padding: 0 0px;
  background: rgb(197, 245, 245);
  padding-top: 10px;
  padding-bottom: 10px;
}

.prepod-teachers button {
  width: 120px;
  height: 30px;
  background: rgb(244, 255, 255);
  color: black;
  margin-top: 10px;
  cursor: pointer;
}

footer {
  margin-top: 20px;
  background-color: #ffffff;
  color: #000000;
  padding: 20px 0;
  text-align: center;
}

footer {
  margin-top: 20px;
  background-color: #ffffff;
  color: #000000;
  padding: 20px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

footer p {
  cursor: pointer;
}

footer p:hover {
  text-decoration: underline;
}

.links1 {
  margin-bottom: 10px;
}
